@import "../../node_modules/daemonite-material/assets/scss/material";

:root {
	--font-family-sans-serif: "News Cyle", sans-serif;
	--dark: #607d9b;
	--light: #ffffe0;
}

body, html {
	font-family: 'News Cycle', sans-serif !important;
  font-weight: 300 !important;
  height: 100%;
  display: grid;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'News Cycle', sans-serif !important;
  font-weight: 300 !important;
}

.dignity {
  font-family: "News Cycle", sans-serif !important;
	font-weight: 300;
}

.material-icons, .fa {
  vertical-align: middle;
}

.page-container {
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	border: 1px solid rgba(#000, .12);
}

.vertiflex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
