<template lang="pug">
div
	nav.navbar.navbar-expand-lg.navbar-light.bg-light
		a.navbar-brand(href='#')
			i.fa.fa-gears.fa-2x.mr-2
			| Engenho Novo TNT

		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon

		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item.active
					a.nav-link(href='/')
						| In Principio
						span.sr-only (current)

				li.nav-item
					a.nav-link(href='/byzantine') In Media Res

				li.nav-item.dropdown(style="cursor: pointer")
					a#dropdownMenuButton.nav-link.dropdown-toggle(type='link', data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
						| Fim da Picada

					.dropdown-menu(aria-labelledby='dropdownMenuButton')
						a.dropdown-item(href='/anabaptism')
							i.fas.fa-chess-king.fa-lg.mr-2
							| Anabaptism

						a.dropdown-item(href='/alexandrian')
							i.fas.fa-sun.fa-lg.mr-2
							| Alexandrian Librarians

						a.dropdown-item(href='/anglican')
							i.fas.fa-chess-bishop.fa-lg.mr-2
							| Can An Anglican?

						a.dropdown-item(href='/armenian')
							i.fas.fa-cross.fa-lg.mr-2
							| Armenian Yossarian
						a.dropdown-item(href='/byzantine')
							i.fas.fa-chess-king.fa-lg.mr-2
							| Anabaptism Schism
						a.dropdown-item(href='/calvin')
							i.fas.fa-chess-queen.fa-lg.mr-2
							| Calvinism Klein
						a.dropdown-item(href='/catholic')
							i.fas.fa-compress.fa-lg.mr-2
							| Romantic Catholicism
						a.dropdown-item(href='/eastern-orthodox')
							i.fas.fa-eye.fa-lg.mr-2
							| Eastern Hegemodoxy
						a.dropdown-item(href='/inspire')
							i.fas.fa-balance-scale.fa-lg.mr-2
							| Atheism Forever
						a.dropdown-item(href='/lutheranism')
							i.fas.fa-bath.fa-lg.mr-2
							| Luther the Luthier
						a.dropdown-item(href='/methodism')
							i.fas.fa-bomb.fa-lg.mr-2
							| Methodism Acting
						//- a.dropdown-item(href='/oriental-orthodoxy')
						//- 	i.fas.fa-coffee.fa-lg.mr-2
						//- 	| Oriental Express
						a.dropdown-item(href='/protestant')
							i.fas.fa-crosshairs.fa-lg.mr-2
							| Protesting of Ants
						//- a.dropdown-item(href='/restorationism')
						//- 	i.fas.fa-crosshairs.fa-lg.mr-2
						//- 	| Restoration Comedy
						//- a.dropdown-item(href='/west-syriac')
						//- 	i.fas.fa-chess-knight.fa-lg.mr-2
						//- 	| West Chaucerian Syrian

			form.form-inline.my-2.my-lg-0
				input.form-control.mr-sm-2(type='search', placeholder='Pesquisar', aria-label='Search')

				button.btn.btn-dark.my-2.my-sm-0(type='submit') Submeter

	nuxt
</template>

<script>
export default {
  head () {
    return {
	css: [
		'@/material/css/material.min.css'
	],
      script: [
	      { src: "https://code.jquery.com/jquery-3.3.1.slim.min.js" },
	      { src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" },
	      { src: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" },
	      { src: "node_modules/daemonite-material/js/material.min.js" }
      ],
      link: [
	      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons' },
	      { rel: 'stylesheet', href: 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' },
	      { rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.5.0/css/all.css' },
	      { rel: 'stylesheet', href: '../node_modules/daemonite-material/css/material.css' }
      ]
    }
  }
}
</script>

<style>
html {
	font-family: 'News Cycle', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

body, html {
	font-family: 'News Cycle', sans-serif !important;
	font-weight: 300 !important;
	min-height: 100vh;
	display: grid;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'News Cycle', sans-serif !important;
	font-weight: 300 !important;
}

.dignity {
	font-family: "News Cycle", sans-serif !important;
	font-weight: 300;
}

.material-icons, .fa {
	vertical-align: middle;
}

.page-container {
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	border: 1px solid rgba(#000, .12);
}

.vertiflex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -50px;
}

</style>
