<template lang="pug">
section.container
	div
		img(src='../static/alchemy-sulphuric.svg' height="120px")
		h1.my-3
			| If Luther Had a Hammer
		h2.mb-2
			| Theses on Species
		h3.mb-3
			| Every Man Must Do Two Things Alone

		.dropdown.dropup
			button#chunkaMunka.btn.btn-light.btn-lg.dropdown-toggle.mb-5(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
				| Bongo Mongo

			.dropdown-menu(aria-labelledby='chunkaMunka')
				a.dropdown-item(href='#')
					i.fas.fa-sun.fa-lg.mr-2
					| Reactionary

				a.dropdown-item(href='#')
					i.fas.fa-broadcast-tower.fa-lg.mr-2
					| Discretionary

				a.dropdown-item(href='#')
					i.material-icons.mr-2(large) local_library
					| Dictionary

				a.dropdown-item(href='#')
					i.fas.fa-sun.fa-lg.mr-2
					| Stationery

				a.dropdown-item(href='#')
					i.fas.fa-broadcast-tower.fa-lg.mr-2
					| Antiquary

				a.dropdown-item(href='#')
					i.material-icons.mr-2(large) local_library
					| Ancillary

		button.btn.btn-float.btn-light(type='button')
			i.material-icons waves

		button.btn.btn-float.btn-light.ml-3(data-target='#navDrawerDefault', data-toggle='navdrawer', type='button')
			i.material-icons domain
</template>
<script>
export default {
	head () {
		return {
			script: [
				{ src: "https://code.jquery.com/jquery-3.3.1.slim.min.js" },
				{ src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" },
				{ src: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" },
				{ src: "https://cdn.jsdelivr.net/npm/daemonite-material@4.1.1/js/material.min.js" }
			],
			link: [
				{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
				{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons' },
				{ rel: 'stylesheet', href: 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' },
				{ rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.5.0/css/all.css' },
				{ rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/npm/daemonite-material@4.1.1/css/material.min.css' }
			],
			css: [
				{ src: 'assets/css/main.css' }
			]
		}
	}
}</script>

<style>

.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title {
	font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	display: block;
	font-weight: 300;
	font-size: 100px;
	color: #35495e;
	letter-spacing: 1px;
}

.subtitle {
	font-weight: 300;
	font-size: 42px;
	color: #526488;
	word-spacing: 5px;
	padding-bottom: 15px;
}

.links {
	padding-top: 15px;
}
</style>
