.bd-callout {
  border: 0;
  border-left: 0.3125rem solid #607d8b;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.bd-callout + .bd-callout {
  margin-top: 0;
}

.bd-callout-danger {
  border-left-color: #f44336;
}

.bd-callout-danger h5 {
  color: #f44336;
}

.bd-callout-info {
  border-left-color: #2196f3;
}

.bd-callout-info h5 {
  color: #2196f3;
}

.bd-callout-warning {
  border-left-color: #ff9800;
}

.bd-callout-warning h5 {
  color: #ff9800;
}

.bd-content > table {
  border: 1px solid #e1e1e1;
}

.bd-content > table > tbody > tr > td,
.bd-content > table > tbody > tr > th,
.bd-content > table > tfoot > tr > td,
.bd-content > table > tfoot > tr > th,
.bd-content > table > thead > tr > td,
.bd-content > table > thead > tr > th {
  border: 0;
  border-top: 1px solid #e1e1e1;
  line-height: 1.428572;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.bd-content > table > tbody > tr > td:first-child,
.bd-content > table > tbody > tr > th:first-child,
.bd-content > table > tfoot > tr > td:first-child,
.bd-content > table > tfoot > tr > th:first-child,
.bd-content > table > thead > tr > td:first-child,
.bd-content > table > thead > tr > th:first-child {
  padding-left: 1.5rem;
}

.bd-content > table > tbody > tr > td:last-child,
.bd-content > table > tbody > tr > th:last-child,
.bd-content > table > tfoot > tr > td:last-child,
.bd-content > table > tfoot > tr > th:last-child,
.bd-content > table > thead > tr > td:last-child,
.bd-content > table > thead > tr > th:last-child {
  padding-right: 1.5rem;
}

.bd-content > table > tbody {
  color: rgba(0, 0, 0, 0.87);
}

.bd-content > table > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.bd-content > table > tbody > tr > td,
.bd-content > table > tbody > tr > th {
  font-size: 0.8125rem;
  font-weight: 400;
  height: 3rem;
  padding-top: 0.919643rem;
  padding-bottom: 0.919643rem;
}

.bd-content > table > tfoot {
  color: rgba(0, 0, 0, 0.54);
}

.bd-content > table > tfoot > tr > td,
.bd-content > table > tfoot > tr > th {
  font-size: 0.75rem;
  font-weight: 400;
  height: 3.5rem;
  padding-top: 1.214285rem;
  padding-bottom: 1.214285rem;
}

.bd-content > table > thead {
  color: rgba(0, 0, 0, 0.54);
}

.bd-content > table > thead > tr > td,
.bd-content > table > thead > tr > th {
  font-size: 0.75rem;
  font-weight: 500;
  height: 3.5rem;
  padding-top: 1.214285rem;
  padding-bottom: 1.214285rem;
}

.bd-example {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 1.5rem;
}

.bd-example + .bd-example {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  margin-top: -1px;
}

.bd-example .custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "attachment";
}

.bd-example > .dropdown-menu:first-child {
  position: relative;
  top: auto;
  left: auto;
}

.bd-example > .list-group {
  max-width: 100%;
}

.bd-example + p {
  margin-top: 1rem;
}

.bd-example-modal .modal-dialog {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-clipboard {
  top: 0.25rem;
  right: 0.25rem;
}

.highlight {
  background-color: #f5f5f5;
  margin: 0 0 1rem;
  padding: 1.5rem;
  position: relative;
}

.bd-content .highlight {
  margin-right: 0;
  margin-left: 0;
}

.bd-example + .highlight,
.bd-example + .bd-clipboard + .highlight {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 0;
  margin-top: -1px;
}

.section-nav {
  border-left: 0.3125rem solid #ffd740;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.toc-entry a {
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.7;
  padding: 0.25rem 0 0.25rem 1rem;
}

.toc-entry a:active, .toc-entry a:focus, .toc-entry a:hover {
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
}

.toc-entry a.active {
  color: #ffd740;
  opacity: 1;
}

.bd-example [id='accordion'] .btn-link[data-toggle='collapse'] {
  padding: 0;
}

.bd-example .card.text-right .card-body .btn {
  margin-right: -0.5rem;
}

.bd-example .card:not(.text-center):not(.text-right) .card-body .btn {
  margin-left: -0.5rem;
}

.bd-example .card .card-body .btn-primary, .bd-example .card .card-body .btn-primary:active, .bd-example .card .card-body .btn-primary:focus, .bd-example .card .card-body .btn-primary:hover {
  color: #607d8b;
}

.bd-example .card .card-body .btn-primary.disabled, .bd-example .card .card-body .btn-primary:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.bd-example .card .card-body .btn-secondary, .bd-example .card .card-body .btn-secondary:active, .bd-example .card .card-body .btn-secondary:focus, .bd-example .card .card-body .btn-secondary:hover {
  color: #ffd740;
}

.bd-example .card .card-body .btn-secondary.disabled, .bd-example .card .card-body .btn-secondary:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.bd-example .card .card-body .btn-danger, .bd-example .card .card-body .btn-danger:active, .bd-example .card .card-body .btn-danger:focus, .bd-example .card .card-body .btn-danger:hover {
  color: #f44336;
}

.bd-example .card .card-body .btn-danger.disabled, .bd-example .card .card-body .btn-danger:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.bd-example .card .card-body .btn-info, .bd-example .card .card-body .btn-info:active, .bd-example .card .card-body .btn-info:focus, .bd-example .card .card-body .btn-info:hover {
  color: #2196f3;
}

.bd-example .card .card-body .btn-info.disabled, .bd-example .card .card-body .btn-info:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.bd-example .card .card-body .btn-success, .bd-example .card .card-body .btn-success:active, .bd-example .card .card-body .btn-success:focus, .bd-example .card .card-body .btn-success:hover {
  color: #4caf50;
}

.bd-example .card .card-body .btn-success.disabled, .bd-example .card .card-body .btn-success:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.bd-example .card .card-body .btn-warning, .bd-example .card .card-body .btn-warning:active, .bd-example .card .card-body .btn-warning:focus, .bd-example .card .card-body .btn-warning:hover {
  color: #ff9800;
}

.bd-example .card .card-body .btn-warning.disabled, .bd-example .card .card-body .btn-warning:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.bd-example .card .card-body .btn-dark, .bd-example .card .card-body .btn-dark:active, .bd-example .card .card-body .btn-dark:focus, .bd-example .card .card-body .btn-dark:hover {
  color: #424242;
}

.bd-example .card .card-body .btn-dark.disabled, .bd-example .card .card-body .btn-dark:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.bd-example .card .card-body .btn-light, .bd-example .card .card-body .btn-light:active, .bd-example .card .card-body .btn-light:focus, .bd-example .card .card-body .btn-light:hover {
  color: #f5f5f5;
}

.bd-example .card .card-body .btn-light.disabled, .bd-example .card .card-body .btn-light:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.bd-example .card .card-body:last-child .btn:last-child {
  margin-bottom: -0.5rem;
}

.bd-example .card .card-body:not(:last-child) .btn:last-child {
  margin-bottom: -0.5rem;
}

.bd-example .card .card-body .btn {
  background-color: transparent;
  box-shadow: none;
  min-width: 4rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.bd-example .card .card-body .btn.active, .bd-example .card .card-body .btn:active {
  background-color: rgba(153, 153, 153, 0.4);
  box-shadow: none;
}

.bd-example .card .card-body .btn.disabled, .bd-example .card .card-body .btn:disabled {
  background-color: transparent;
}

.bd-example .navbar .form-control {
  width: 10rem;
}

.algolia-autocomplete .algolia-docsearch-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38) !important;
  font-size: 0.75rem !important;
  line-height: 1.5 !important;
  padding: 1rem 1.5rem 0;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  color: rgba(0, 0, 0, 0.87);
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header,
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 0.9375rem !important;
  line-height: 1.5rem;
  padding: 0.25rem 1.5rem !important;
}

.algolia-autocomplete .ds-dropdown-menu {
  border: 0;
  border-radius: 2px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  width: 100%;
}

.algolia-autocomplete .ds-dropdown-menu [class^='ds-dataset-'] {
  border-radius: 0;
}

.algolia-autocomplete .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
  background-color: #f5f5f5 !important;
}

.doc-search:focus {
  z-index: 101;
}

.doc-jumbotron {
  background-color: #607d8b;
  background-image: url("../images/doc-jumbotron-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 7rem;
}

@media (max-width: 767.98px) {
  .doc-jumbotron h1 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.035715;
  }
}

@media (min-width: 992px) {
  .navdrawer-permanent-lg ~ .doc-jumbotron {
    margin-left: 17.5rem;
  }
}

.doc-jumbotron h1:last-child,
.doc-jumbotron p:last-child {
  margin-bottom: 0;
}

.doc-logo {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.4;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 215, 64, 0.12);
  border-radius: 1.125rem;
  box-shadow: inset 0 0 0 1px currentColor;
  color: inherit;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  height: 2.25rem;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 2.25rem;
  z-index: 1;
}

.doc-logo[href]:active, .doc-logo[href]:focus, .doc-logo[href]:hover {
  color: inherit;
  text-decoration: none;
}

.doc-logo[href]:active::before, .doc-logo[href]:focus::before, .doc-logo[href]:hover::before {
  opacity: 0.12;
}

.doc-logo[href]::before {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: currentColor;
  border-radius: 1.125rem;
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 576px) {
  .doc-logo[href]::before {
    transition-duration: 0.39s;
  }
}

@media (min-width: 992px) {
  .doc-logo[href]::before {
    transition-duration: 0.2s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .doc-logo[href]::before {
    transition: none;
  }
}

.doc-logo:focus {
  outline: 0;
}

@media (min-width: 992px) {
  .navdrawer-permanent-lg ~ .doc-main {
    margin-left: 17.5rem;
  }
}

.doc-navbar-permanent {
  margin-left: 17.5rem;
}

.doc-navbar-persistent,
.doc-navbar-temporary {
  transition-duration: 0.195s;
  transition-property: margin-left;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

@media (min-width: 576px) {
  .doc-navbar-persistent,
  .doc-navbar-temporary {
    transition-duration: 0.2535s;
  }
}

@media (min-width: 992px) {
  .doc-navbar-persistent,
  .doc-navbar-temporary {
    transition-duration: 0.13s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .doc-navbar-persistent,
  .doc-navbar-temporary {
    transition: none;
  }
}

.navdrawer-open-persistent .doc-navbar-persistent {
  transition-duration: 0.225s;
  transition-property: margin-left;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  margin-left: 17.5rem;
}

@media (min-width: 576px) {
  .navdrawer-open-persistent .doc-navbar-persistent {
    transition-duration: 0.2925s;
  }
}

@media (min-width: 992px) {
  .navdrawer-open-persistent .doc-navbar-persistent {
    transition-duration: 0.15s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .navdrawer-open-persistent .doc-navbar-persistent {
    transition: none;
  }
}

.navdrawer-open-temporary .doc-navbar-temporary {
  transition-duration: 0.225s;
  transition-property: margin-left;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  margin-left: 17.5rem;
}

@media (min-width: 576px) {
  .navdrawer-open-temporary .doc-navbar-temporary {
    transition-duration: 0.2925s;
  }
}

@media (min-width: 992px) {
  .navdrawer-open-temporary .doc-navbar-temporary {
    transition-duration: 0.15s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .navdrawer-open-temporary .doc-navbar-temporary {
    transition: none;
  }
}

.doc-navdrawer-body {
  min-height: 100%;
}

.doc-skip {
  background-color: #607d8b;
  color: white;
  display: block;
  outline: 0;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  text-align: center;
}

.doc-skip:focus {
  color: white;
}

.doc-skip-text {
  border: 1px dotted currentColor;
  padding: 0.6875rem 1rem;
}

.doc-swatch-text {
  font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/*# sourceMappingURL=docs.css.map */