// Theme palette
// Change these values to customise colour palettes

$primary: (
  color: $material-color-blue-grey-500,
  dark:  $material-color-blue-grey-700,
  light: $material-color-blue-grey-100
) !default;

$secondary: (
  color: $material-color-amber-a200,
  dark:  $material-color-amber-a400,
  light: $material-color-amber-a100
) !default;

$danger: (
  color: $material-color-red-500,
  dark:  $material-color-red-700,
  light: $material-color-red-100
) !default;

$info: (
  color: $material-color-blue-500,
  dark:  $material-color-blue-700,
  light: $material-color-blue-100
) !default;

$success: (
  color: $material-color-green-500,
  dark:  $material-color-green-700,
  light: $material-color-green-100
) !default;

$warning: (
  color: $material-color-orange-500,
  dark:  $material-color-orange-700,
  light: $material-color-orange-100
) !default;

$dark: (
  color: $material-color-grey-800,
  dark:  $material-color-grey-900,
  light: $material-color-grey-600
) !default;

$light: (
  color: $material-color-grey-100,
  dark:  $material-color-grey-300,
  light: $material-color-grey-050
) !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    primary:   $primary,
    secondary: $secondary,
    danger:    $danger,
    info:      $info,
    success:   $success,
    warning:   $warning,
    dark:      $dark,
    light:     $light
  ),
  $theme-colors
);

$yiq-contrasted-threshold: 150 !default;
$yiq-text-dark:            $black-primary !default;
$yiq-text-light:           $white-primary !default;
